body {
    background: white;
    text-align: center;
    border: 30px solid lightgrey;
  }
  
  .artNav {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
    ;
  }
  
  .artNav img {
    width: 150px;
    border: solid black 1px;
    margin: 0.3em;
  }
  
  .duck-display img {
    height: 35vh;
    border: solid black 3px;
    border-radius: 3em;
  }
  
  .duck-display button {
    background: pink;
    border: solid black 1px;
    border-radius: 0.5em;
    margin-top: 1em;
    padding: 0.75em;
    font-weight: bold;
  }
  
  form {
    background: yellow;
    margin: 2em;
  }
  
  form label {
    display: block;
  }

  .gap-3 {
    gap: 10px
  }
  .topheader {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .pContainer {
    display: flex;
    justify-content: center ;
  }
  .paragraph {
    margin: 0 20px;
  }

  .navtext {
    font-size: 28px;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #333; 
    text-decoration: none;
    padding: 5px 10px;
  }

  